# Concourse deployment manifest for BOSH lab
# Deployed via BOSH onto the local libvirt IaaS.
# Version: Concourse 7.14.1

name: ((deployment_name))

releases:
  - name: concourse
    version: "7.14.1"
  - name: bpm
    version: latest  # Pulled from director's uploaded releases

stemcells:
  - alias: default
    os: ubuntu-jammy
    version: "1.717"

instance_groups:
  - name: web
    instances: 1
    azs: [z1]
    vm_type: ((web_vm_type))
    stemcell: default
    networks:
      - name: ((network_name))
        static_ips:
          - ((web_ip))
    jobs:
      - name: bpm
        release: bpm
      - name: web
        release: concourse
        properties:
          external_url: ((external_url))
          token_signing_key: ((token_signing_key))
          bind_port: 443
          tls:
            bind_port: 443
            cert: ((atc_tls))
          postgresql:
            host: 127.0.0.1
            database: atc
            role:
              name: concourse
              password: ((postgres_password))
          add_local_users:
            - admin:((admin_password))
          main_team:
            auth:
              local:
                users:
                  - admin

  - name: db
    instances: 1
    azs: [z1]
    vm_type: ((db_vm_type))
    stemcell: default
    persistent_disk_type: ((db_persistent_disk_type))
    networks:
      - name: ((network_name))
    jobs:
      - name: bpm
        release: bpm
      - name: postgres
        release: concourse
        properties:
          databases:
            port: 5432
            databases:
              - name: atc
            roles:
              - name: concourse
                password: ((postgres_password))

  - name: worker
    instances: 1
    azs: [z1]
    vm_type: ((worker_vm_type))
    stemcell: default
    networks:
      - name: ((network_name))
    jobs:
      - name: bpm
        release: bpm
      - name: worker
        release: concourse
        properties:
          drain_timeout: 10m
          tsa:
            host: ((web_ip))
            host_public_key: ((tsa_host_key.public_key))
            worker_key: ((worker_key))

update:
  canaries: 1
  max_in_flight: 1
  serial: false
  canary_watch_time: 1000-60000
  update_watch_time: 1000-60000

variables:
  - name: postgres_password
    type: password
  - name: admin_password
    type: password
  - name: token_signing_key
    type: rsa
  - name: tsa_host_key
    type: ssh
  - name: worker_key
    type: ssh
  - name: atc_tls
    type: certificate
    options:
      ca: default_ca
      common_name: ((web_ip))
      alternative_names:
        - ((web_ip))
        - 127.0.0.1
  - name: default_ca
    type: certificate
    options:
      is_ca: true
      common_name: bosh-lab-ca
